<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project3mon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project3mon">

        <activity
            android:name=".ViewCustomer"
            android:exported="false" />
        <activity
            android:name=".CustomerList"
            android:exported="false" />
        <activity
            android:name=".ViewUploadedVideo"
            android:exported="false" />
        <activity
            android:name=".UserVideoList"
            android:exported="false" />
        <activity
            android:name=".AddVideoActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPlay"
            android:exported="false" />
        <activity
            android:name=".VideoList"
            android:exported="false" />
        <activity
            android:name=".FindPassActivity"
            android:exported="false" />
        <activity
            android:name=".ViewWalletActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterTrainerActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".EditTrainerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerListActivity"
            android:exported="false" />
        <activity
            android:name=".Trainer1Activity"
            android:exported="false" />
        <activity
            android:name=".RoleActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeSettingActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeMenuActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>